body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(0, 0, 0, 0.855);
    display: flex;
    height: 120px;
    align-items: center;
    
}
.navlogo{
  display: flex;
  align-items: center;

}   

.navcontainer{
    display: flex;
   gap: 20px;
   width: 80%;
    color: white;
    font-size: 15px;
  
    right: 10px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.navcontainer img{
    height: 55px;
}
.pack{
    background-color: #344D5B;
    color: white   ;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18p;
}
