body{
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu
}
nav{
    background-color: rgba(0, 0, 0, 0.855);
    display: flex;
    height: 120px;
    align-items: center;
    
}
.navlogo{
  display: flex;
  align-items: center;

}   

.navcontainer{
    display: flex;
   gap: 20px;
   width: 80%;
    color: white;
    font-size: 15px;
  
    right: 10px;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.navcontainer img{
    height: 55px;
}
.pack{
    background-color: #344D5B;
    color: white   ;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18p;
    padding-bottom: 3vh;
    padding-top: 3vh;
    margin: 0;
    
}
.pimg{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 130px;
    
    padding-top:30px;
    padding-bottom: 30px;
    margin-right: 0;
    padding-right: 0;
}
h1{
    font-size: 40px;
    font-weight: 100;
    margin: 0;
}
h3{
    font-size: 30px;
    font-weight: 100;
}
.pcont{
    width: 60%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 0px;
    font-weight: none;
    
}
.titre{
    margin-left: 45vw;
    background-color: #344D5B;
    color: white;
    font-size: 4Opx;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    width: 16vw;
    height: 6vh;
    padding:1vh;
    margin-top: 6vh;
    font-weight: 100;

    
    
   

}
.eclosion,.evolution,.envol{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
 
}

.bouttons{
    background-color: rgba(222, 184, 135, 0.552);
    
}
.btn{
    height: 50px;
    width: 50px;
}
.text{
   text-align: left;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size:20px;
}




.pfp{
    margin-left: 10vw;
    margin-top: 13vh;
    margin-bottom: 1vw;
}

footer{
    background-color:rgba(0, 0, 0, 0.777) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-direction: row;
    gap: 10px;

}
footer img{
    height: 6vh;
    width:3vw;
    display: flex;
  
    
}
.footer-pack,.outils,.reso{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}